{% extends "base_generic.html" %}

{% block content %}

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
<h2>Favorite Meals</h2>
<ul>
    {% if fav_meal %}
        {% for meal in fav_meal %}
            <li value="{{meal.name}}"><span>{{meal.name}}</span>
            <p>{{meal.content}}</p>
            <div>
                <form name="fav-meal-form" class="fav-meal-form" method="post">
                    {% csrf_token %}
                    {{ fav_meal_form.as_p }}
                    <input type="hidden"  name="fav_meal_id" value="{{meal.id}}">
                    <button type="submit" name="updtae-fav-meal">Updtae</button>
                    <button type="submit" name="delete-fav-meal">Delete</button>
                </form>
            </div>
            </li>
        {% endfor %}
    {% else %}
        <li>No favorite meals yet.</li>
    {% endif %}
</ul>
<h3>Add New Favorite Meal</h3>
<form name="fav-meal-form" class="fav-meal-form" method="post">
    {% csrf_token %}
    {{ fav_meal_form.as_p }}
    <button type="submit" name="submit-fav-meal">Add Meal</button>
</form>

{% endblock content %}