{% extends "base_generic.html" %}

{% block content %}

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <h1>{{ user.username|capfirst }}'s Progress {{ current_date|date:"M. d, Y" }}</h1>
  <div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="prev_date"><</button>
        <button type="submit" name="next_date">></button>
    </form>
</div>
 <div>
  <h4>Water</h4>
  {% if water_total %}
  <p id="water-total">{{water_total}} ml</p>
  <form method="post">
    {% csrf_token %}
    {{ water_form.as_p }}
    <button type="submit" name="submit_water">Add Water</button>
  </form> 
  <form method="post" class="water-share">
    {% csrf_token %}
    {{ post_form.as_p }}
    <button type="submit" name="share-water">Share</button>
  </form>
 {% else %}
     <p>No water for this date yet.</p>
 {% endif %}
 </div>
 <div>

  <h4>Weight</h4>
  {% if  weight %}
    {% for num in weight %}
    <form method="POST" class="weight-update">
      <p><span class="wieght_num">{{num}}</span>kg</p>
      <input type="hidden" name="weight_id" value="{{num.id}}">
      {% csrf_token %}
      {{ weight_form.as_p }}
      <button type="submit" name="update_weight">Updtae</button><button type="submit" name="delete_weight">Delete</button>
    </form>
    <form method="post" class="share-weight">
      {% csrf_token %}
      {{ post_form.as_p }}
      <button type="submit" name="share-weight">Share</button>
    </form>
    {% endfor %}
 {% else %}
     <p>No weight for this date yet.</p>
 {% endif %}
 </div>

 <h4>workout</h4>
 {% if workout %}
   {% for workout in workout%}
   <p>{{workout}}</p>
   <form method="post" class="workout-update">
    <input type="hidden" name="workout_id" value="{{workout.id}}">
    <p class="workout-duration" style="display: none;">{{workout.duration}}</p>
    <p class="workout-name" style="display: none;">{{workout.name}}</p>
    {% csrf_token %}
    {{ workout_form.as_p }}
    <button type="submit" name="update_workout">Updtae</button><button type="submit" name="delete_workout">Delete</button>
  </form> 
  <form method="post" class="share-workout">
    {% csrf_token %}
    {{ post_form.as_p }}
    <button type="submit" name="share-workout">Share</button>
  </form>
      
   {% endfor %}
{% else %}
    <p>No workoutfor in this date yet.</p>
{% endif %}
</div>

<div>
  <h4>Meals</h4>
   {% if  meals_entries%}
      {% for meal in  meals_entries%}
        <p>{{meal.time}} : {{meal.content}}</p>
        <img src="{{meal.file.url}}" >
        <p class="meal-content" style="display: none;">{{meal.content}}</p>
        <p class="meal-time" style="display: none;">{{meal.time|time:"H:i:s"}}</p>
        <form method="post" class="meal-update" enctype="multipart/form-data">
          <input type="hidden" name="meal_id" value="{{meal.id}}">
          
          {% csrf_token %}
          {{ meals_form.as_p }}
          <button type="submit" name="update_meal">Updtae</button><button type="submit" name="delete_meal">Delete</button>
        </form>
        <form method="post" class="share-meal">
          {% csrf_token %}
          {{ post_form.as_p }}
          <input value="{{meal.id}}" name="meal_id">
          <button type="submit" name="share-meal">Share</button>
        </form>
       {% endfor %}
{% else %}
    <p>No meals this in date yet.</p>
{% endif %}

</div>


<footer class="add-form">
  <div class="forms">
    <!-- Water Form -->
      <div>
        <h5>Add Water</h5>
        <form method="post">
          {% csrf_token %}
          {{ water_form.as_p }}
          <button type="submit" name="submit_water">Add Water</button>
        </form>  
      </div>
    
    <!-- Weight Form -->
    <div>
      <h5>Add Weight</h5>
        <form method="post">
          {% csrf_token %}
          {{ weight_form.as_p }}
          <button type="submit" name="submit_weight">Add Weight</button>
        </form>
    </div>
    
    <!-- Workout Form -->
    <div>
      <h5>Add Workout</h5>
        <form method="post">
          {% csrf_token %}
          {{ workout_form.as_p }}
          <button type="submit" name="submit_workout">Add Workout</button>
        </form>
    </div>
    
    
    <!-- Miles Form -->
    <div>
      <h5>Add Meal</h5>
      <form method="post" enctype="multipart/form-data">
        <select name="fav-meal" class="fav-meal" >
          {% if fav_meal %}
              {% for meal in fav_meal %}
                  <option value="{{meal.name}}">{{meal.name}}</option>
              {% endfor %}
          {% else %}
              <option>No favorite meals yet.</option>
          {% endif %}
      </select>
        {% csrf_token %}
        {{ meals_form.as_p }}
        <!-- <input type="file" name="file" accept="image/*"> -->
        <button type="submit" name="submit_meal">Add Meal</button>
      </form>
    </div>
  </div>
</footer>


<script>
    const update_date = document.querySelectorAll('input[type="date"]')
    function convertDate(dateStr) {
      const date = new Date(dateStr);
      const formattedDate = date.toISOString().split('T')[0];
      return formattedDate;
  }

  const inputDate = "{{current_date}}"
  const outputDate = convertDate(inputDate)
  update_date.forEach(input => {
    input.value = outputDate
  })
  // fill the wieght info in the form
  const updateWeight = document.querySelectorAll('.weight-update input[name="amount"]')
  const weightNum = document.querySelectorAll('.wieght_num')
  for (let i=0; i < weightNum.length; i++){
    updateWeight[i].value = weightNum[i].innerText
  }
// fill the workout info in the form
  const workoutName = document.querySelectorAll(".workout-name")
  const workoutDuration= document.querySelectorAll(".workout-duration")
  const updateWorkout = document.querySelectorAll('.workout-update input[name="duration"]')
  const updateSelectWorkout = document.querySelectorAll('.workout-update select[name="name"]')
  
  for (let i=0; i < updateWorkout.length; i ++) {
    updateWorkout[i].value = workoutDuration[i].innerHTML
    updateSelectWorkout[i].value = workoutName[i].innerHTML
  }
//fill the meals form
const mealContent = document.querySelectorAll(".meal-content")
const mealTime = document.querySelectorAll(".meal-time")

const mealContentInput = document.querySelectorAll('.meal-update textarea[name="content"]')
const mealTimeInput = document.querySelectorAll('.meal-update input[name="time"]')

for (let i=0; i < mealContent.length; i++) {
  mealContentInput[i].value = mealContent[i].innerHTML
  mealTimeInput[i].value = mealTime[i].innerHTML 
}

// share post form water
const titleInputWater = document.querySelector('.water-share input[name="title"]')
const waterTotal = document.querySelector('#water-total')
const contentInputWater = document.querySelector('.water-share textarea[name="content"]')

titleInputWater.value = `Water on the ${inputDate}`
contentInputWater.value = `I drank ${waterTotal.innerText} today!`

const hidePostWaterShare = document.querySelectorAll('.water-share p')
hidePostWaterShare.forEach(p => {
p.style.display = "none"
})

// share post form weight
const weightFormPost = document.querySelectorAll(".share-weight p")
const weightShareTitle = document.querySelectorAll('.share-weight input[name="title"]')
const weightShareContent = document.querySelectorAll('.share-weight textarea[name="content"]')

weightShareTitle.forEach(title => {
  title.value = `Weight on the ${inputDate}`
})
for (let i=0; i < weightNum.length; i++){
    weightShareContent[i].value = `I wieght ${weightNum[i].innerText} today!`
  }
  weightFormPost.forEach(p => {
    p.style.display = "none"
  })

  // share post form workout
const workoutFormPost = document.querySelectorAll(".share-workout p")
const workoutShareTitle = document.querySelectorAll('.share-workout input[name="title"]')
const workoutShareContent = document.querySelectorAll('.share-workout textarea[name="content"]')

workoutShareTitle.forEach(title => {
  title.value = `Workout on the ${inputDate}`
})
if (workoutName.length >0) {
  for (let i=0; i < weightNum.length; i++){
  workoutShareContent[i].value = `I wast ${ workoutName[i].innerText} for ${workoutDuration[i].innerHTML} Min.`
  }
  workoutFormPost.forEach(p => {
    p.style.display = "none"
  })
}

  // share post form meal

const mealFormPost = document.querySelectorAll(".share-meal p")
const mealShareTitle = document.querySelectorAll('.share-meal input[name="title"]')
const mealShareContent = document.querySelectorAll('.share-meal textarea[name="content"]')

mealShareTitle.forEach(title => {
  title.value = `Meal on the ${inputDate}`
})
for (let i=0; i < mealContent.length; i++){
  mealShareContent[i].value = `I ate ${ mealContent[i].innerText}.`
  }
  mealFormPost.forEach(p => {
    p.style.display = "none"
  })
 </script>
{% endblock %}

