{% extends "base_generic.html" %}

{% block content %}

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <h1>{{ user.username }}'s Progress {{ current_date|date:"M. d, Y" }}</h1>
  <div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="prev_date"><</button>
        <button type="submit" name="next_date">></button>
    </form>
</div>
 <div>
  <h4>Water</h4>
  {% if water_total %}
  <p>{{water_total}} ml</p>
 {% else %}
     <p>No water for this date yet.</p>
 {% endif %}
 </div>
 <div>

  <h4>Weight</h4>
  {% if  weight %}
    {% for num in weight %}
      <p>{{num}}</p>
    {% endfor %}
 {% else %}
     <p>No weight for this date yet.</p>
 {% endif %}
 </div>

 <h4>workout</h4>
 {% if workout %}
   {% for workout in workout%}
     <p>{{workout}}</p>
   {% endfor %}
{% else %}
    <p>No workoutfor in this date yet.</p>
{% endif %}
</div>

<div>
  <h4>Meals</h4>
   {% if  meals_entries%}
      {% for meal in  meals_entries%}
        <p>{{meal}}</p>
       {% endfor %}
{% else %}
    <p>No meals this in date yet.</p>
{% endif %}

</div>
<footer>
  <div class="forms">
    <!-- Water Form -->
      <div>
        <h5>Add Water</h5>
        <form method="post">
          {% csrf_token %}
          {{ water_form.as_p }}
          <button type="submit" name="submit_water">Add Water</button>
        </form>  
      </div>
    
    <!-- Weight Form -->
    <div>
      <h5>Add Weight</h5>
        <form method="post">
          {% csrf_token %}
          {{ weight_form.as_p }}
          <button type="submit" name="submit_weight">Add Weight</button>
        </form>
    </div>
    
    <!-- Workout Form -->
    <div>
      <h5>Add Workout</h5>
        <form method="post">
          {% csrf_token %}
          {{ workout_form.as_p }}
          <button type="submit" name="submit_workout">Add Workout</button>
        </form>
    </div>
    
    
    <!-- Miles Form -->
    <div>
      <h5>Add Meal</h5>
      <form method="post">
        {% csrf_token %}
        {{ meals_form.as_p }}
        <button type="submit" name="submit_meal">Add Meal</button>
      </form>
    </div>
  </div>
</footer>



<script>
    const update_date = document.querySelectorAll('input[type="date"]')
    function convertDate(dateStr) {
      const date = new Date(dateStr);
      const formattedDate = date.toISOString().split('T')[0];
      return formattedDate;
  }

  const inputDate = "{{current_date}}"
  const outputDate = convertDate(inputDate)
  update_date.forEach(input => {
    input.value = outputDate
  })
  


 </script>
{% endblock %}

