{% extends "base_generic.html" %}
{% block content %}

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}


    <h1>{{ post.title }}</h1>
    <p><strong>Author:</strong> {{ post.author }}</p>
    <p><strong>Created at:</strong> {{ post.created_at }}</p>
    <p>{{ post.content }}</p>
    <a href="{% url 'dietBlog:post_list' %}">Back to Posts</a>

{% endblock %}