{% extends "base_generic.html" %}
{% block content %}

  {% if messages %}
  <ul class="list-unstyled">
      {% for message in messages %}
      <li{% if message.tags %} class="alert alert-info {{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

    <div class="container mt-4">
        <h1 id="title">{{ post.title }}</h1>
        <p><strong>Author:</strong> <span>{{ post.author }}</span></p>
        <p><strong>Created at:</strong> <span>{{ post.created_at }}</span></p>
        <p id="content">{{ post.content }}</p>
        <form method="post" class="post-update">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" name="update_post" class="btn btn-primary">Update</button>
            <button type="submit" name="delete_post" class="btn btn-danger">Delete</button>
        </form>
        <a href="{% url 'dietBlog:post_list' %}" class="btn btn-secondary mt-3">Back to Posts</a>
    </div>


<script>
    const postForm = document.querySelector(".post-update")
    const postTitleInput = document.querySelector('.post-update input[name="title"]')
    const postContentInput = document.querySelector('.post-update textarea[name="content"]')
    const postTitle = document.querySelector("#title")
    const postContent = document.querySelector("#content")

    postContentInput.value = postContent.innerHTML
    postTitleInput.value = postTitle.innerHTML



</script>
{% endblock %}