{% extends "base_generic.html" %}
{% block content %}

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <h1>Blog Posts</h1>
  <a href="{% url 'dietBlog:post_create' %}">Create New Post</a>
  <ul>
    {% for post in posts%}
        {% for file in all_files %}
       
            {% if file.user_id.id == post.author.id %}
            <img src="{{ file.file.url }}" alt="Uploaded file" style="max-width: 60px; border-radius: 50%;">
            {% endif %}
        {% endfor %}
          <div>
              {% if post.author == request.user %}
                  <h4><a href="{% url 'dietBlog:post_detail' post.pk %}">{{ post.title }}</a></h4>
              {% else %}
                  <h4><span>{{ post.title }}</span></h4>
              {% endif %}
              <p>{{ post.content }}</p>
              <p>by {{ post.author }} on {{ post.created_at }}</p>
              {% for file in files_with_meal %}
              {% if file.meal_id == post.meal.id %}
                  <img src="{{ file.file.url }}" alt="Meal Image" style="max-width: 200px; border-radius: 5px;">
              {% endif %}
              {% endfor %}
          </div>
       
      {% endfor %}
  </ul>

{% endblock %}