{% extends "base_generic.html" %}
{% block content %}

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}


    <h1>Blog Posts</h1>
    <a href="{% url 'dietBlog:post_create' %}">Create New Post</a>
    <ul>
        {% for post in posts %}
            <p>
            {% if post.author == request.user %}
                <a href="{% url 'dietBlog:post_detail' post.pk %}">{{ post.title }}</a>
            {% else %}
                <span>{{ post.title }}</span>
            {% endif %}
                <p>{{ post.content }}</p>
                <p>by {{ post.author }} on {{ post.created_at }}</p>
            </p>

        {% endfor %}
    </ul>

{% endblock %}